// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cocktail-landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-grap: 10%;
  height: 100vh;
  padding: 0;
}

.cocktail-list {
}

.show-cocktail {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-grap: 10%;
  height: 100vh;
  padding: 0;
}

.img {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  filter: grayscale(1);
  opacity: 0.4;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%
}

.title {
  position: absolute;
  width: 50vh;
  h1 {
      font-size: 100px;
      text-align: right;
      font-color: black;
    }
    top: 10px;
    left: 150px;
}


.content {
  padding: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  h2 {
    font-size: 70px;
    background-color: $blue;
    font-style: italic;
    text-align: right;
    display: inline;
  }
}

li {
  list-style-type: none;
  text-align: center;
}

ul {
  padding: 0;
}

.ingredient {
  text-transform: uppercase;
  font-size: 40px;
}

.dose {
  color: rgba(0,0,0,0.4);
  font-size: 20px;
}

.footer {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 50px;
  width: 300px;
}

